
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong class="has-text-danger-light color-is white">EVENT-a-GRAM ⓒ 2022- </strong>  <a href="https://github.com/Zubair-Hassam/project-2-eventagram"> GitHub Repo Link</a>
<br>
          Made by Group 5 -
        <a href="https://github.com/GEEZEE91"> Gina,</a>
        <a href="https://github.com/Web3Zero"> Ash and </a>
        <a href="https://github.com/Zubair-Hassam"> Zubair </a>

        </p>
    </div>
</footer>