{{> navbar}}
{{> modal-search}}
{{> modal-create}}
<section class = "search-card">
    <h1 class="has-text-centered is-size-1 is-size-5-mobile">
        Based on your search, check out the below EVENTS:
    </h1>
    <div class="columns is-multiline is-justify-content-center">
        {{#each parties as |party|}}
        {{> display-search-result}}
        {{/each}}
    </div>
</section>

<script src="/js/party-buttons.js"></script>
<script src="/js/user-party-buttons.js"></script>
<script src="/js/dashboard.js"></script>